In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/merc.csv')
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [4]:
models = df['model'].unique()

In [5]:
models.sort()
models

array([' A Class', ' B Class', ' C Class', ' CL Class', ' CLA Class',
       ' CLC Class', ' CLK', ' CLS Class', ' E Class', ' G Class',
       ' GL Class', ' GLA Class', ' GLB Class', ' GLC Class',
       ' GLE Class', ' GLS Class', ' M Class', ' R Class', ' S Class',
       ' SL CLASS', ' SLK', ' V Class', ' X-CLASS', '180', '200', '220',
       '230'], dtype=object)

In [6]:
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [7]:
df['year'].unique()

array([2005, 2017, 2016, 2011, 2018, 2012, 2019, 2020, 2014, 2015, 2006,
       2010, 2004, 2008, 2013, 2007, 2009, 2003, 2001, 2002, 1998, 2000,
       1997, 1999, 1970])

In [8]:
df['fuelType'].unique()

array(['Petrol', 'Hybrid', 'Diesel', 'Other'], dtype=object)

In [9]:
df['model'].value_counts()

model
 C Class      3747
 A Class      2561
 E Class      1953
 GLC Class     960
 GLA Class     847
 B Class       591
 CL Class      511
 GLE Class     461
 SL CLASS      260
 CLS Class     237
 V Class       207
 S Class       197
 GL Class      121
 SLK            95
 CLA Class      86
 X-CLASS        82
 M Class        79
 GLS Class      74
 GLB Class      19
 G Class        15
 CLK             7
 CLC Class       3
 R Class         2
180              1
230              1
220              1
200              1
Name: count, dtype: int64

In [10]:
df['fuelType'].value_counts()

fuelType
Diesel    9187
Petrol    3752
Hybrid     173
Other        7
Name: count, dtype: int64

In [11]:
df['transmission'].value_counts()

transmission
Semi-Auto    6848
Automatic    4825
Manual       1444
Other           2
Name: count, dtype: int64

In [12]:
models

array([' A Class', ' B Class', ' C Class', ' CL Class', ' CLA Class',
       ' CLC Class', ' CLK', ' CLS Class', ' E Class', ' G Class',
       ' GL Class', ' GLA Class', ' GLB Class', ' GLC Class',
       ' GLE Class', ' GLS Class', ' M Class', ' R Class', ' S Class',
       ' SL CLASS', ' SLK', ' V Class', ' X-CLASS', '180', '200', '220',
       '230'], dtype=object)

In [13]:
models = [' SLK', ' B Class']
filt = df['model'].isin(models)

In [14]:
filt

0         True
1        False
2        False
3        False
4        False
         ...
13114    False
13115     True
13116    False
13117    False
13118    False
Name: model, Length: 13119, dtype: bool

In [16]:
df[filt]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
12,B Class,2019,23750,Automatic,278,Diesel,145,55.4,2.0
15,B Class,2017,15890,Automatic,24841,Diesel,150,68.9,1.5
18,B Class,2017,17513,Automatic,14128,Diesel,150,68.9,2.1
40,SLK,2014,15990,Automatic,43955,Petrol,205,43.5,1.8
...,...,...,...,...,...,...,...,...,...
13033,B Class,2016,14599,Automatic,28156,Diesel,20,68.9,2.1
13073,B Class,2019,19350,Automatic,13674,Petrol,145,45.6,1.3
13108,SLK,2016,17499,Automatic,30128,Diesel,30,70.6,2.1
13111,B Class,2019,19344,Automatic,15257,Petrol,145,45.6,1.3
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0

In [18]:
fil = df['fuelType'].isin(['Diesel','Petrol'])

In [19]:
df[fil]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
5,SL CLASS,2011,149948,Automatic,3000,Petrol,570,21.4,6.2
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [20]:
df[df.year>2018]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
8,G Class,2019,139948,Automatic,12000,Petrol,145,21.4,4.0
10,A Class,2020,32980,Automatic,606,Petrol,145,35.8,2.0
11,A Class,2020,26980,Automatic,1000,Diesel,145,62.8,1.5
12,B Class,2019,23750,Automatic,278,Diesel,145,55.4,2.0
13,GLC Class,2019,67980,Automatic,5500,Petrol,145,21.7,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [22]:
df[(df.year>=2018) & (df.price<20000)]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
86,A Class,2018,18220,Automatic,10361,Diesel,145,68.9,1.5
89,A Class,2019,18118,Automatic,15561,Diesel,145,68.9,1.5
90,A Class,2019,17990,Automatic,14783,Diesel,145,65.7,1.5
92,A Class,2018,18888,Automatic,11565,Diesel,145,67.3,1.5
93,A Class,2019,19840,Automatic,6781,Petrol,145,28.5,1.3
...,...,...,...,...,...,...,...,...,...
13000,A Class,2018,16500,Semi-Auto,14289,Petrol,150,49.6,1.6
13013,B Class,2018,17995,Automatic,6025,Diesel,145,68.9,2.1
13018,A Class,2018,17600,Automatic,15893,Petrol,145,52.3,1.6
13073,B Class,2019,19350,Automatic,13674,Petrol,145,45.6,1.3
13111,B Class,2019,19344,Automatic,15257,Petrol,145,45.6,1.3

In [24]:
df3 = df[(df.year>=2018) & (df.price<20000) & (df.mileage<30000)]

In [25]:
df3

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
86,A Class,2018,18220,Automatic,10361,Diesel,145,68.9,1.5
89,A Class,2019,18118,Automatic,15561,Diesel,145,68.9,1.5
90,A Class,2019,17990,Automatic,14783,Diesel,145,65.7,1.5
92,A Class,2018,18888,Automatic,11565,Diesel,145,67.3,1.5
93,A Class,2019,19840,Automatic,6781,Petrol,145,28.5,1.3
...,...,...,...,...,...,...,...,...,...
13000,A Class,2018,16500,Semi-Auto,14289,Petrol,150,49.6,1.6
13013,B Class,2018,17995,Automatic,6025,Diesel,145,68.9,2.1
13018,A Class,2018,17600,Automatic,15893,Petrol,145,52.3,1.6
13073,B Class,2019,19350,Automatic,13674,Petrol,145,45.6,1.3
13111,B Class,2019,19344,Automatic,15257,Petrol,145,45.6,1.3

In [27]:
df[df.transmission=='Automatic']

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [28]:
df[df.transmission=='Semi-Auto']

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
84,CL Class,2015,17863,Semi-Auto,14360,Diesel,20,62.8,2.1
91,SL CLASS,2019,28491,Semi-Auto,9477,Petrol,145,47.1,2.0
142,E Class,2017,20998,Semi-Auto,21352,Diesel,20,72.4,2.0
143,GLA Class,2015,18998,Semi-Auto,33114,Diesel,125,56.5,2.1
144,C Class,2017,24998,Semi-Auto,28234,Petrol,160,43.5,2.0
...,...,...,...,...,...,...,...,...,...
12054,CL Class,2016,20500,Semi-Auto,32626,Petrol,200,41.5,2.0
12074,A Class,2014,11988,Semi-Auto,52000,Diesel,20,68.9,2.1
12783,CL Class,2016,15000,Semi-Auto,84000,Diesel,20,67.3,2.1
13000,A Class,2018,16500,Semi-Auto,14289,Petrol,150,49.6,1.6
13035,CL Class,2018,21738,Semi-Auto,14000,Petrol,145,53.3,1.6

In [29]:
df[df.fuelType=='Hybrid']

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
77,S Class,2016,24880,Automatic,75000,Hybrid,190,42.4,3.5
137,C Class,2017,21000,Automatic,25000,Hybrid,140,134.5,2.0
327,E Class,2019,39998,Semi-Auto,2675,Hybrid,135,134.5,2.0
329,C Class,2016,18498,Semi-Auto,31891,Hybrid,0,134.5,2.0
...,...,...,...,...,...,...,...,...,...
12687,C Class,2017,17480,Automatic,47019,Hybrid,0,134.5,2.0
12707,S Class,2019,56890,Automatic,2931,Hybrid,135,100.9,3.0
12713,C Class,2017,20480,Automatic,30053,Hybrid,0,134.5,2.0
12867,S Class,2017,36890,Automatic,22657,Hybrid,20,61.4,2.1
12999,C Class,2016,15999,Automatic,66077,Hybrid,0,134.5,2.0

In [30]:
df[df.transmission=='Manual']

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
34,A Class,2019,23184,Manual,1173,Petrol,145,44.8,1.3
56,A Class,2011,3440,Manual,74000,Diesel,150,54.3,2.0
61,E Class,2010,6980,Manual,79000,Petrol,300,35.3,1.8
63,E Class,2011,5740,Manual,115000,Diesel,160,52.3,2.1
81,SLK,2010,7495,Manual,59147,Petrol,300,36.2,1.8
...,...,...,...,...,...,...,...,...,...
13011,V Class,2013,20000,Manual,58518,Diesel,305,38.7,2.1
13014,B Class,2017,13950,Manual,5878,Diesel,20,68.9,1.5
13015,GLA Class,2017,17000,Manual,26000,Petrol,145,48.7,1.6
13024,A Class,2016,16500,Manual,16984,Diesel,30,62.8,2.1
13034,A Class,2017,13391,Manual,38172,Diesel,145,72.4,1.5